<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordoncheng.smweibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity android:name=".views.WBHomeActivity"
            android:theme="@style/WBHomeTheme.Dimen"/>
        <activity android:name=".views.WBImageActivity"
            android:theme="@style/Image" />
        <activity android:name=".views.WBDetailActivity"
            android:theme="@style/WindowTranslucent"
            android:windowSoftInputMode="stateHidden|adjustUnspecified"/>
        <activity android:name=".views.WBUserPopupActivity"
            android:theme="@style/WindowTranslucent" />
        <activity android:name=".views.WBEditActivity"
            android:theme="@style/WindowTranslucent"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>